<nav class="navbar navbar-expand fixed-top" color-on-scroll="500">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
          <a routerLink="categories" class="nav-link" routerLinkActive="active">Category List</a>
      </li>
      <li class="nav-item">
          <a routerLink="add" class="nav-link" routerLinkActive="active">Add Category</a>
      </li>
    </ul>
  </nav>