<div class="wraper">
    <div class="page-header section-dark" style="background-image: url('assets/img/e-goi-image.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="entity-logo">
                        <img src="assets/img/logo-egoi.png" alt="">
                    </div>
                    <h1 class="presentation-title">Category management</h1>
                </div>
            </div>
            <h6 class="presentation-subtitle text-center">Zend API & Angular App</h6>
        </div>
        <h6 class="category-absolute ml-auto mr-auto">Bernardino Silva | <a href="https://www.linkedin.com/in/bernardino-silva-a2447582/" rel="tooltip" title="Linkedin">Linkedin
        </a> | <a href="https://bitbucket.org/Bernardino_Silva/e-goi-app/src/master/">Source Code</a></h6> 
    </div>
</div>