<body>
  <app-navbar></app-navbar>
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <h2>Category Details</h2> 
    <hr/>
    <div *ngIf="category">
      <div>
        <label><b>ID: </b></label> {{category.id}}
      </div>
      <div>
        <label><b>Name: </b></label> {{category.name}}
      </div>
      <div>
        <label><b>Description: </b></label> {{category.description}}
      </div>
      <div>
        <label><b>Created At: </b></label> {{category.createdAt}}
      </div>  
      <div>
        <label><b>Updated At: </b></label> {{category.updatedAt}}
      </div>  
    </div>

    <br>
    <br>
    <button (click)="list()" class="btn btn-primary">Back to Category List</button>
    <button (click)="updateCategory(category.id)" class="btn btn-success">Edit</button>
  </div>
</body>