<body>
  <app-navbar></app-navbar>
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
    <div *ngIf="categories?.length > 0" class="panel panel-primary">
      <div class="panel-heading">
      <hr>  
        <h2>Category List</h2> 
      <hr/>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td scope="row">{{category.id}}</td>
              <td scope="row">{{category.name}}</td>
              <td scope="row">{{category.description}}</td>
              <td scope="row">{{category.createdAt.date}}</td>
              <td scope="row">{{category.updateAt.date}}</td>
              <td scope="row"><button (click)="deleteCategory(category.id)" class="btn btn-danger">Delete</button></td>
              <td scope="row"><button (click)="categoryDetails(category.id)" class="btn btn-info" style="margin-left: 10px">Details</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
    <div *ngIf="categories?.length == 0" class="panel panel-primary">
      <div class="panel-heading">
        <h3>The category list is empty!</h3>
      </div>
    </div>
  </div>
</body>