<body>
  <app-navbar></app-navbar>
  <div class="container">
    <br>
    <h2 style="text-align: center;">{{title}}</h2>
    <hr>  
      <h2>Update Category</h2> 
    <hr/>
    <div [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="category.name" name="name">
        </div>
    
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" class="form-control" id="description" required [(ngModel)]="category.description" name="description">
        </div>
    
        <button type="submit" class="btn btn-success">Submit</button>
        <button (click)="categoryDetails(category.id)" class="btn btn-info" style="margin-left: 10px">Back</button>
      </form>
    </div>
  </div>
</body>